
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.eot");
    src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("/fonts/Roboto-Regular.woff2") format('woff2'),
         url("/fonts/Roboto-Regular.woff") format('woff'),
         url("/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {

}
.alt-header .alt-container{
  height:2.9rem;
}

.bg-black {
  background: #000;
  color: #fff;
}
#fullscreen-menu{ display:block !important; height:100% !important; }
#fullscreen-menu label,
#fullscreen-menu input,
#fullscreen-menu button{ font-size:1rem; }
#fullscreen-menu h4{
    font-size:1rem;
}
.b-sidebar-outer{
  z-index:8000;
}
.alt-aff-link::after{ font-size:.5rem; font-family: 'Nunito', sans-serif;}
.alt-aff-link{ font-size:.8rem; }
.pointer{ cursor:pointer; }
.padding-right-inherit{
  padding-right: inherit !important;
}
.app-logo, .b-sidebar-header{
  /* position:relative; */
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size:1.2rem !important;
}
.app-logo a{
  font-size:1rem !important;
}
.zoom:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1)
}
#nprogress .bar {
  background: var(--app-yellow-green) !important;
}
#nprogress .spinner-icon {
  /* border-left-color: green !important;
  border-top-color: yellow  !important; */
  display:none;
}
.spinner-grow{ vertical-align: unset;}

/* book & author stuff: could go in the book view? */
.book-presentation, .author-view{
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

.book-presentation h1, .book-presentation h2, .author-view h1{ font-family: "Nunito", sans-serif; font-weight: bold; }
.book-presentation h1{ font-size:2rem;}
.book-presentation h2{ font-size:1rem; }
.book-meta{
  font-size:.9rem;
  text-align:center !important;
}
.book-meta button{
  font-size:.7rem;
}
.book-content{
  /* padding:2rem; */
  padding:1rem;
  padding-right:16rem;
  text-align:justify;
}
.book-content h2, .book-content h3{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align:left;
  margin-bottom:1rem !important;
  margin-top:2rem !important;
}
.book-content h2{
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.book-content h3{
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.title-followers{
  font-size:.6rem;
}



.is-h2{
  /* font-weight: bold; */
}
.is-h3{
  padding-left:1rem !important;
}
.book-menu-main{
  font-size:.7rem;

}
.book-box nav{
  float: right;
  position: sticky;
  max-width: 16rem !important;
  font-size:.7rem;
  top: 3rem;
  right: 1px;
}
.book-content p{
  font-family: 'Roboto', sans-serif;
  font-size:1.1rem;
  line-height:1.5;
}
.book-card{
  max-width:11rem;
}
.book-card .card-text{
  font-size:.7rem;
}
.book-card-link{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.book-buy a{ font-size:.7rem; }
.author-view{
  background: rgb(250,255,181);
  background: -moz-linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faffb5",endColorstr="#ffffff",GradientType=1);
  border-bottom: 1px dotted rgba(0,0,0,.1);
}
.author-description{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 22px;
}
/* end of book & author stuff  */


main a:hover:not(.book-card-link), .book-menu-main a:hover{
  background: rgba(255,255,0,0.5);
}

.author-title{
	font-size: 1.5rem;
  font-family: Nunito, sans-serif;
}
.author-origin{ position:relative;top:-5px; }
.author-desc{
	font-size: .8rem;
}
.author-meta{

}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}
.product-rating{
	font-size: 1.3rem;
	margin-bottom: 25px;
}
.book-header{
  border:none;
  border-bottom: 1px dotted rgba(0,0,0,.125);
}

.appDark,
.appDark .alt-header,
.appDark .book-header,
.appDark #fullscreen-menu,
.appDark .b-sidebar-body {
  background-color:black;
}
.appDark .book-content p,
.appDark .book-content h2,
.appDark .book-content h3,
.appDark .book-content table,
.appDark .app-logo a,
.appDark .alt-header__right,
.appDark .alt-header__config,
.appDark .alt-header__search,
.appDark .alt-header__sign-in,
.appDark .book-header,
.appDark .author-meta a,
.appDark .book-buy a,
.appDark .b-sidebar-body,
.appDark .b-sidebar-body a{ color:white; }

.appDark .alt-separator{ opacity:.7 }
.appDark .book-header{
  border:none;
  border-bottom: 1px solid rgba(255,255,255,.125);
  /* border: 1px solid rgba(255,255,255,.125); */
}

.hero-h1 {
  font-size: 35px !important;
  font-weight: 700;
  color: #3c3c3c;
  line-height: 1.35em;
}
.primary-container p,
.primary-container .app-title,
.primary-container .alert,
.welcome-box .alert
{ font-family: "Nunito", sans-serif;}
.welcome-box h2{
  font-size:1.1rem;
  font-family: sans-serif;
  text-align: center;
}
.welcome-box h3{
  /* background-image: url("../homebrewing-adam-wilson.jpg") */
  font-size:1.1rem;
  font-family: "Space mono", monospace;
  text-align: left;
}
.welcome-image-box{ text-align:right; }
.welcome-image-box img{ width:170px; }

.primary-container .app-title{
  text-transform: uppercase;
  font-weight: bold;
  display:block;
}

.overlay-dark::after {
    background: linear-gradient(to bottom left, transparent 20%, rgba(52, 58, 64, .8) 100%);
}
.overlay-dark:hover::after {
  background: linear-gradient(to bottom left, transparent 20%, rgba(52, 58, 64, .8) 100%) !important;
  opacity: unset;
}
.about img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); 
}
.welcome-box .overlay{
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background-image:url('https://images.unsplash.com/photo-1597589619078-b633d1d07d0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format%2Ccompress&fit=crop&w=5799&h=594%201x,%20https://images.unsplash.com/photo-1597589619078-b633d1d07d0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=2&auto=format%2Ccompress&fit=crop&w=5799&h=594'); */
  background-image:url('keith-misner-h0Vxgz5tyXA-unsplash.jpg');
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.welcome-box .post-subtitle{
  color:#d1d1d1 !important;
}
.welcome-box .post-subtitle{  }
.welcome-box a, .welcome-box h2{
  color:#FFFFFF !important;
}
.welcome-box .overlay:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(180deg,rgba(0,0,0,.38) 0,rgba(0,0,0,.38) 3.5%,rgba(0,0,0,.379) 7%,rgba(0,0,0,.377) 10.35%,rgba(0,0,0,.375) 13.85%,rgba(0,0,0,.372) 17.35%,rgba(0,0,0,.369) 20.85%,rgba(0,0,0,.366) 24.35%,rgba(0,0,0,.364) 27.85%,rgba(0,0,0,.361) 31.35%,rgba(0,0,0,.358) 34.85%,rgba(0,0,0,.355) 38.35%,rgba(0,0,0,.353) 41.85%,rgba(0,0,0,.351) 45.35%,rgba(0,0,0,.35) 48.85%,rgba(0,0,0,.353) 52.35%,rgba(0,0,0,.36) 55.85%,rgba(0,0,0,.371) 59.35%,rgba(0,0,0,.385) 62.85%,rgba(0,0,0,.402) 66.35%,rgba(0,0,0,.42) 69.85%,rgba(0,0,0,.44) 73.35%,rgba(0,0,0,.46) 76.85%,rgba(0,0,0,.48) 80.35%,rgba(0,0,0,.498) 83.85%,rgba(0,0,0,.515) 87.35%,rgba(0,0,0,.529) 90.85%,rgba(0,0,0,.54) 94.35%,rgba(0,0,0,.547) 97.85%,rgba(0,0,0,.55)); */


  background: rgb(255,255,255);
  background: -moz-linear-gradient(360deg, rgba(255,255,255,0.7903536414565826) 0%, rgba(28,28,29,1) 20%);
  background: -webkit-linear-gradient(360deg, rgba(255,255,255,0.7903536414565826) 0%, rgba(28,28,29,1) 20%);
  background: linear-gradient(360deg, rgba(255,255,255,0.7903536414565826) 0%, rgba(28,28,29,1) 20%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#1c1c1d",GradientType=1);
  width: 100%;
  height: 100%;

}

/*  Bootstrap like breakpoints -------------- */
@media (max-width: 576px) {
  .book-content{
    padding:0.5rem !important;
  }
  .spinner-grow-sm{
    width: .6rem;
    height: .6rem
  }
  .app-logo a{ font-size:.9rem !important; }

  .author-title{
    font-size: 1.3rem;
  }
  .author-desc{
  	font-size: .7rem;
  }
  .book-presentation h1{ font-size:1.7rem;}
  .book-content h2{
    font-size:1.2rem;
    line-height: 1.6rem;
  }
  .book-content h3{
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .book-content p{
    font-size:17px;
    line-height:26px;
  }
  .book-meta button{
    font-size:.6rem;
  }
  .book-card{
    margin:auto !important;
  }
  .title-followers{
    font-size:.5rem;
  }
  #fullscreen-menu label,
  #fullscreen-menu input,
  #fullscreen-menu button{ font-size:.9rem; }
  #fullscreen-menu h4{
      font-size:.8rem;
  }
  .welcome-box h3{
    text-align: justify;
    font-size:1rem;
  }
  .welcome-image-box{ text-align:center; }
  .welcome-image-box img{ width:120px; }
  .hero-h1{ font-size:1.4rem !important; }
  .welcome-box .post-subtitle{ text-align:center; }
}
@media (max-width: 768px) {
  .book-card{
    margin:inherit;
  }
  .welcome-image-box{ text-align:center; }
}
@media (max-width: 992px) {
  .book-content{
    /* padding:2rem; */
    padding-right:inherit !important;
  }
}
@media (max-width: 1200px) {

}
/*  End of Bootstrap like breakpoints -------------- */
