
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.eot");
    src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("/fonts/Roboto-Regular.woff2") format('woff2'),
         url("/fonts/Roboto-Regular.woff") format('woff'),
         url("/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {

}
.app-logo, .b-sidebar-header{
  /* position:relative; */
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size:1.2rem !important;
}
.app-logo a{
  font-size:1rem !important;
}
.zoom:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1)
}
#nprogress .bar {
  background: var(--app-yellow-green) !important;
}
#nprogress .spinner-icon {
  /* border-left-color: green !important;
  border-top-color: yellow  !important; */
  display:none;
}
.spinner-grow{ vertical-align: unset;}

/* book & author stuff: could go in the book view? */
.book-presentation, .author-view{
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

.book-presentation h1, .book-presentation h2, .author-view h1{ font-family: "Nunito", sans-serif; font-weight: bold; }
.book-presentation h1{ font-size:2rem;}
.book-presentation h2{ font-size:1rem; }
.book-content{
  padding:2rem;
  text-align:justify;
}
.book-content h2{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align:left;
  margin-bottom:1rem !important;
  margin-top:2rem !important;
}
.book-content p{
  font-family: 'Roboto', sans-serif;
  font-size:1.1rem;
  line-height:1.6;
}
.book-card{
  max-width:11rem;
}
.book-card-link{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.author-view{
  background: rgb(250,255,181);
  background: -moz-linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(250,255,181,0.2903536414565826) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faffb5",endColorstr="#ffffff",GradientType=1);
  border-bottom: 1px dotted rgba(0,0,0,.1);
}
.author-description{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 22px;
}
/* end of book & author stuff  */


main a:hover{
  background: rgba(255,255,0,0.5);
}

.author-title{
	font-size: 1.5rem;
  font-family: Nunito, sans-serif;
}
.author-origin{ position:relative;top:-5px; }
.author-desc{
	font-size: .8rem;
}
/* .author-meta{ position:relative; top:-10px; } */

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}
.product-rating{
	font-size: 1.3rem;
	margin-bottom: 25px;
}


/*  Bootstrap like breakpoints -------------- */
@media (max-width: 576px) {
  .book-content{
    padding:0.5rem !important;
  }
  .spinner-grow-sm{
    width: .6rem;
    height: .6rem
  }
  .app-logo a{ font-size:.9rem !important; }

  .author-title{
    font-size: 1.3rem;
  }
  .author-desc{
  	font-size: .7rem;
  }
  .book-content h2{
    font-size:1.2rem;
    line-height: 1.6rem;
  }
  .book-content p{
    font-size:17px;
    line-height:26px;
  }
  .book-card{
    margin:auto !important;
  }
}
@media (max-width: 768px) {
  .book-card{
    margin:inherit;
  }
}
@media (max-width: 992px) {


}
@media (max-width: 1200px) {

}
/*  End of Bootstrap like breakpoints -------------- */
